@using Carpooling.Models.View
@model AddPassengerViewModel
@{
    ViewData["Title"] = "Ny passagerare";
}

<h2>Lägg till dig som passagerare</h2>

<h3>@Model.StartingPoint --> @Model.Destination, @Model.Date</h3>
<p>Antal lediga platser i bilen: @Model.Passengers</p>

<form method="POST">
    <label for="ssn"></label>
    <input type="text" id="ssn" name="ssn" />
    <input type="submit" />
    <div asp-validation-summary="All"></div>
</form>
<p><a href="@Url.Action("ShowPassengers","Drives", new { id = @Model.ID})">Visa passagerare i bilen</a></p>
@ViewData["Message"]