@using Carpooling.Models.View
@model List<IndexViewModel>
@{
    ViewData["Title"] = "Carpooling";
}

<h2>Resor</h2>

@foreach (var d in Model)
{
    <h3><a href="@Url.Action("AddPassenger","Drives", new { id = @d.ID})">@d.StartingPoint --> @d.Destination, @d.Date</a></h3>
    <p>Antal lediga platser i bilen: @d.Passengers</p>
}
@ViewData["Message"]